body {
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    padding: 16px 128px;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}

.header-link {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}
