body {
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
}

.header,
.section-one {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: flex-start;
}

.header {
    padding: 16px 152px;
}

.section-one {
    padding: 100px 152px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}

.call-to-action-secondary,
.hero-secondary,
.header-link {
    font-size: 18px;
    color: #e5e7eb;
}

.info-secondary {
    font-size: 18px;
    color: #b8b8b8;
}

.header-link {
    text-decoration: none;
}

.hero-text {
    width: 475px;
    margin: auto 0;
}

.hero-main {
    flex: 1;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}

.sign-up-button {
    color: #F9FAF8;
    background-color: #3882f6;
    font-size: 18px; 
    border-radius: 8px;
    padding: 8px 24px;
    border: 0;
}

.hero-image {
    flex: 0;
    width: 500px;
    height: auto;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    margin: 48px;
}

.info-images {
    display: flex;
    justify-content: center;
    gap: 48px;
    align-items: center;
    margin-bottom: 64px;
}

.information {
    text-align: center;
    width: 150px;
}

.info-image {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    border: 3px solid #3882f6;
    vertical-align: middle;
}

.section-three {
    background-color: #e5e7eb;
    padding: 128px 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0px;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: 300;
    margin: 0;
    margin-bottom: 8px;
}

.author {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    text-align: end;
    margin-right: 16px;
}

.section-four {
    padding: 80px 160px;
}

.call-to-action {
    background-color: #3882f6;
    padding: 48px 116px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call-to-action-main {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    margin-bottom: 8px;
}

.bordered {
    border: 3px solid #F9FAF8;
}
